In [1]:
import warnings
warnings.simplefilter('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# Load Dataset
First, read the combined data from 2014 until 2018 from local disk

In [3]:
data = pd.read_csv('./data/data_2014_2018.csv')
data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,10400,10400,10400.0,36 months,6.99%,321.08,A,A3,Truck Driver Delivery Personel,8 years,...,14.3,0,0,179407,15030,13000,11325,N,Cash,N
1,15000,15000,15000.0,60 months,12.39%,336.64,C,C1,MANAGEMENT,10+ years,...,0.0,0,0,196500,149140,10000,12000,N,Cash,N
2,9600,9600,9600.0,36 months,13.66%,326.53,C,C3,Admin Specialist,10+ years,...,60.0,0,0,52490,38566,21100,24890,N,Cash,N
3,7650,7650,7650.0,36 months,13.66%,260.20,C,C3,Technical Specialist,< 1 year,...,100.0,0,0,82331,64426,4900,64031,N,Cash,N
4,21425,21425,21425.0,60 months,15.59%,516.36,D,D1,Programming Analysis Supervisor,6 years,...,100.0,0,0,57073,42315,15000,35573,N,Cash,N

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1642574 entries, 0 to 1642573
Data columns (total 87 columns):
loan_amnt                     1642574 non-null int64
funded_amnt                   1642574 non-null int64
funded_amnt_inv               1642574 non-null float64
term                          1642574 non-null object
int_rate                      1642574 non-null object
installment                   1642574 non-null float64
grade                         1642574 non-null object
sub_grade                     1642574 non-null object
emp_title                     1535014 non-null object
emp_length                    1537225 non-null object
home_ownership                1642574 non-null object
annual_inc                    1642574 non-null float64
verification_status           1642574 non-null object
issue_d                       1642574 non-null object
loan_status                   1642574 non-null object
pymnt_plan                    1642574 non-null object
purpose                       1642574 non-null object
title                         1619269 non-null object
zip_code                      1642573 non-null object
addr_state                    1642574 non-null object
dti                           1641733 non-null float64
delinq_2yrs                   1642574 non-null int64
earliest_cr_line              1642574 non-null object
inq_last_6mths                1642573 non-null float64
open_acc                      1642574 non-null int64
pub_rec                       1642574 non-null int64
revol_bal                     1642574 non-null int64
revol_util                    1641430 non-null object
total_acc                     1642574 non-null int64
initial_list_status           1642574 non-null object
out_prncp                     1642574 non-null float64
out_prncp_inv                 1642574 non-null float64
total_pymnt                   1642574 non-null float64
total_pymnt_inv               1642574 non-null float64
total_rec_prncp               1642574 non-null float64
total_rec_int                 1642574 non-null float64
total_rec_late_fee            1642574 non-null float64
recoveries                    1642574 non-null float64
collection_recovery_fee       1642574 non-null float64
last_pymnt_d                  1640863 non-null object
last_pymnt_amnt               1642574 non-null float64
last_credit_pull_d            1642514 non-null object
collections_12_mths_ex_med    1642574 non-null int64
policy_code                   1642574 non-null int64
application_type              1642574 non-null object
acc_now_delinq                1642574 non-null int64
tot_coll_amt                  1642574 non-null int64
tot_cur_bal                   1642574 non-null int64
total_rev_hi_lim              1642574 non-null int64
acc_open_past_24mths          1642574 non-null int64
avg_cur_bal                   1642540 non-null float64
bc_open_to_buy                1624277 non-null float64
bc_util                       1623392 non-null float64
chargeoff_within_12_mths      1642574 non-null int64
delinq_amnt                   1642574 non-null int64
mo_sin_old_il_acct            1594032 non-null float64
mo_sin_old_rev_tl_op          1642574 non-null int64
mo_sin_rcnt_rev_tl_op         1642574 non-null int64
mo_sin_rcnt_tl                1642574 non-null int64
mort_acc                      1642574 non-null int64
mths_since_recent_bc          1625302 non-null float64
mths_since_recent_inq         1465199 non-null float64
num_accts_ever_120_pd         1642574 non-null int64
num_actv_bc_tl                1642574 non-null int64
num_actv_rev_tl               1642574 non-null int64
num_bc_sats                   1642574 non-null int64
num_bc_tl                     1642574 non-null int64
num_il_tl                     1642574 non-null int64
num_op_rev_tl                 1642574 non-null int64
num_rev_accts                 1642573 non-null float64
num_rev_tl_bal_gt_0           1642574 non-null int64
num_sats                      1642574 non-null int64
num_tl_120dpd_2m              1568345 non-null float64
num_tl_30dpd                  1642574 non-null int64
num_tl_90g_dpd_24m            1642574 non-null int64
num_tl_op_past_12m            1642574 non-null int64
pct_tl_nvr_dlq                1642573 non-null float64
percent_bc_gt_75              1623840 non-null float64
pub_rec_bankruptcies          1642574 non-null int64
tax_liens                     1642574 non-null int64
tot_hi_cred_lim               1642574 non-null int64
total_bal_ex_mort             1642574 non-null int64
total_bc_limit                1642574 non-null int64
total_il_high_credit_limit    1642574 non-null int64
hardship_flag                 1642574 non-null object
disbursement_method           1642574 non-null object
debt_settlement_flag          1642574 non-null object
dtypes: float64(25), int64(38), object(24)
memory usage: 1.1+ GB